* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 50%;
  height: 100%;
}
.line {
  display: flex;
  flex-wrap: wrap;
}

.line_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  transition: all 0.9s ease;
  object-fit: contain;
}

.loader {
  position: absolute;
  width: fit-content;
  width: calc(80% - 15px);
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: white;
  z-index: 9999;
}
